h1 {
    text-align: center;
    color: #ccc;
}

.history-item {
    border: 1px solid #002649;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #ccc;
    width: 50%;
    margin: 0 auto; /* Add this line to center the history item horizontally */
    font-family: 'Courier New', Courier, monospace;
}

.history-item p {
    margin: 5px 0;
}

.no-history-message {
    font-style: italic;
    text-align: center;
}

.history-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.kembali{
    text-decoration: none;
    color: white;
  }
